/API_WEB-CS/
/E-Commerce/
/WebApp1/WebApp1/ClientApp/.editorconfig
/WebApp1/.idea/.idea.WebApp1/.idea/.gitignore
/WebApp1/WebApp1/ClientApp/.gitignore
/WebApp1/WebApp1/.gitignore
/WebApp1/WebApp1/ClientApp/src/assets/.gitkeep
/WebApp1/WebApp1/Pages/_ViewImports.cshtml
/WebApp1/WebApp1/ClientApp/angular.json
/WebApp1/WebApp1/ClientApp/src/app/app.component.html
/WebApp1/WebApp1/ClientApp/src/app/app.component.ts
/WebApp1/WebApp1/ClientApp/src/app/app.module.ts
/WebApp1/WebApp1/ClientApp/src/app/app.server.module.ts
/WebApp1/WebApp1/appsettings.Development.json
/WebApp1/WebApp1/appsettings.json
/WebApp1/WebApp1/ClientApp/aspnetcore-https.js
/WebApp1/WebApp1/ClientApp/src/app/counter/counter.component.html
/WebApp1/WebApp1/ClientApp/src/app/counter/counter.component.spec.ts
/WebApp1/WebApp1/ClientApp/src/app/counter/counter.component.ts
/WebApp1/.idea/.idea.WebApp1/.idea/encodings.xml
/WebApp1/WebApp1/ClientApp/src/environments/environment.prod.ts
/WebApp1/WebApp1/ClientApp/src/environments/environment.ts
/WebApp1/WebApp1/Pages/Error.cshtml
/WebApp1/WebApp1/Pages/Error.cshtml.cs
/WebApp1/WebApp1/wwwroot/favicon.ico
/WebApp1/WebApp1/ClientApp/src/app/fetch-data/fetch-data.component.html
/WebApp1/WebApp1/ClientApp/src/app/fetch-data/fetch-data.component.ts
/WebApp1/WebApp1/ClientApp/src/app/home/home.component.html
/WebApp1/WebApp1/ClientApp/src/app/home/home.component.ts
/WebApp1/WebApp1/ClientApp/src/index.html
/WebApp1/.idea/.idea.WebApp1/.idea/indexLayout.xml
/WebApp1/WebApp1/ClientApp/karma.conf.js
/WebApp1/WebApp1/Properties/launchSettings.json
/WebApp1/WebApp1/ClientApp/src/main.ts
/WebApp1/WebApp1/ClientApp/src/app/nav-menu/nav-menu.component.css
/WebApp1/WebApp1/ClientApp/src/app/nav-menu/nav-menu.component.html
/WebApp1/WebApp1/ClientApp/src/app/nav-menu/nav-menu.component.ts
/WebApp1/WebApp1/ClientApp/package.json
/WebApp1/WebApp1/ClientApp/package-lock.json
/WebApp1/WebApp1/ClientApp/src/polyfills.ts
/WebApp1/WebApp1/Program.cs
/WebApp1/WebApp1/ClientApp/proxy.conf.js
/WebApp1/WebApp1/ClientApp/README.md
/WebApp1/WebApp1/ClientApp/src/styles.css
/WebApp1/WebApp1/ClientApp/src/test.ts
/WebApp1/WebApp1/ClientApp/tsconfig.app.json
/WebApp1/WebApp1/ClientApp/tsconfig.json
/WebApp1/WebApp1/ClientApp/tsconfig.spec.json
/WebApp1/.idea/.idea.WebApp1/.idea/vcs.xml
/WebApp1/WebApp1/WeatherForecast.cs
/WebApp1/WebApp1/Controllers/WeatherForecastController.cs
/WebApp1/WebApp1/WebApp1.csproj
/WebApp1/WebApp1.sln
