<div class="bg-black px-4">
  <header class="flex justify-between items-center py-4">
    <div class="flex items-center">
      <img (click)="redirectTohHome()" src="./assets/logos/logo-horizontal.svg" alt="Logo" class="mr-8 size-1/12"/>
      <div class="bg-black text-white p-4 flex items-center justify-between">
        <div class="flex items-center space-x-4 relative">
          <!-- PC Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-pc.svg" alt="PC" class="h-6 w-6">
              <span>PC</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/pc/steam/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Steam" class="h-6 w-6">
                    <span>Steam</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ubisoft-connect/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Ubisoft Connect" class="h-6 w-6">
                    <span>Ubisoft Connect</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ea-app/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="EA App" class="h-6 w-6">
                    <span>EA App</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/battle-net/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Battle.net" class="h-6 w-6">
                    <span>Battle.net</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/rockstar/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Rockstar" class="h-6 w-6">
                    <span>Rockstar</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/gog-com/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="GOG.com" class="h-6 w-6">
                    <span>GOG.com</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/microsoft-store/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Microsoft Store" class="h-6 w-6">
                    <span>Microsoft Store</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/epic-games/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Epic Games" class="h-6 w-6">
                    <span>Epic Games</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Playstation Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-play.svg" alt="Playstation" class="h-6 w-6">
              <span>Playstation</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/playstation/ps4/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 4" class="h-6 w-6">
                    <span>Playstation 4</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/playstation/ps5/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 5" class="h-6 w-6">
                    <span>Playstation 5</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Xbox Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-xbx.svg" alt="Xbox" class="h-6 w-6">
              <span>Xbox</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-one/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox ONE" class="h-6 w-6">
                    <span>Xbox ONE</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-series-x-s/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox Series X|S" class="h-6 w-6">
                    <span>Xbox Series X|S</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Nintendo Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-swt.svg" alt="Nintendo" class="h-6 w-6">
              <span>Nintendo</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/nintendo/switch/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-swt.svg" alt="Nintendo Switch" class="h-6 w-6">
                    <span>Nintendo Switch</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="relative group">
          <button class="bg-orange-500 p-3 rounded-full">
            <img src="./assets/logos/search.svg" alt="search" class="size-20">
          </button>
        </div>
      </div>

      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img src="./assets/logos/icon-cart.svg" alt="cart" class="size-20">
      </div>
      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img *ngIf="isLoggedIn" src="./assets/logos/avatar2.svg" alt="user" class="size-20" (click)="toggleDropdown()">
        <img *ngIf="!isLoggedIn" src="./assets/logos/icon-user.svg" alt="user" class="size-20"
             (click)="redirectToLogin()">
      </div>
      <div *ngIf="isLoggedIn && showDropdown" class="bg-zinc-700 p-4 rounded-lg absolute top-14 right-0 mt-1 z-10">
        <button class="block mb-2" (click)="redirectToAccount()">Account</button>
        <button class="block mb-2">My Orders</button>
        <button class="block mb-2" (click)="redirectToWishlist()">Wishlist</button>
        <button class="block text-red-500 mb-2" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>
</div>


<div class="bg-zinc-900 text-black">
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-zinc-800 text-white shadow-lg rounded-lg overflow-hidden">
      </div>
    </div>
    <h2 class="text-2xl font-bold my-8">Add a New Game</h2>
    <form (ngSubmit)="addProduct()" class="space-y-4">
      <div class="form-group">
        <label for="name" class="block text-sm font-medium text-zinc-300">Name:</label>
        <input type="text" id="name" [(ngModel)]="newProduct.name" name="name" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="description" class="block text-sm font-medium text-zinc-300">Description:</label>
        <input type="text" id="description" [(ngModel)]="newProduct.description" name="description" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="price" class="block text-sm font-medium text-zinc-300">Price:</label>
        <input type="number" id="price" [(ngModel)]="newProduct.price" name="price" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="stock" class="block text-sm font-medium text-zinc-300">Stock:</label>
        <input type="number" id="stock" [(ngModel)]="newProduct.stock" name="stock" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="category" class="block text-sm font-medium text-zinc-300">Category:</label>
        <input type="text" id="category" [(ngModel)]="newProduct.category" name="category" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="rating" class="block text-sm font-medium text-zinc-300">Rating:</label>
        <input type="number" id="rating" [(ngModel)]="newProduct.rating" name="rating" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div class="form-group">
        <label for="image" class="block text-sm font-medium text-zinc-300">Image:</label>
        <input type="file" id="image" (change)="onImageSelected($event)" name="image" required class=" dark:text-zinc-700 mt-1 block w-full p-2 border border-zinc-700 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="form-group" *ngIf="imagePreview">
        <label class="block text-sm font-medium text-zinc-300">Preview:</label>
        <img [src]="imagePreview" alt="Selected Image" class=" dark:text-zinc-700 mt-2 max-w-full h-auto rounded-md shadow-lg">
      </div>

      <button type="submit" class=" dark:text-zinc-700 w-full bg-blue-500 text-white p-2 rounded-md shadow hover:bg-blue-600">Add Game</button>
    </form>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>
</div>
