<div class="container">
  <h2>Add a New Game</h2>
  <form (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newProduct.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="newProduct.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="newProduct.price" name="price" required>
    </div>
    <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" class="form-control" id="stock" [(ngModel)]="newProduct.stock" name="stock" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" class="form-control" id="category" [(ngModel)]="newProduct.category" name="category" required>
    </div>
    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="number" class="form-control" id="rating" [(ngModel)]="newProduct.rating" name="rating" required>
    </div>
    <div class="form-group">
      <label for="keys">Keys:</label>
      <input type="text" class="form-control" id="keys" [(ngModel)]="newProduct.keys" name="keys" required>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" class="form-control-file" id="image" (change)="handleImageInput($event)" accept="image/*" required>
    </div>

    <div class="form-group" *ngIf="imagePreview">
      <label>Preview:</label>
      <img ngSrc="imagePreview" alt="Selected Image" class="img-fluid">
    </div>

    <button type="submit" class="btn btn-primary">Add Game</button>
  </form>
</div>
