<div class="px-4 bg-black">
  <header class="bg-black flex flex-col justify-center items-center py-4">
    <div class="flex items-center">
      <img (click)="redirectTohHome()" src="./assets/logos/logo-horizontal.svg" alt="Logo" class="mr-8 size-1/12"/>
      <div class="bg-black text-white p-4 flex items-center justify-between">
        <div class="flex items-center space-x-4 relative">
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-pc.svg" alt="PC" class="h-6 w-6">
              <span>PC</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down"
                   class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/pc/steam/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Steam" class="h-6 w-6">
                    <span>Steam</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ubisoft-connect/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Ubisoft Connect" class="h-6 w-6">
                    <span>Ubisoft Connect</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ea-app/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="EA App" class="h-6 w-6">
                    <span>EA App</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/battle-net/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Battle.net" class="h-6 w-6">
                    <span>Battle.net</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/rockstar/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Rockstar" class="h-6 w-6">
                    <span>Rockstar</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/gog-com/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="GOG.com" class="h-6 w-6">
                    <span>GOG.com</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/microsoft-store/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Microsoft Store" class="h-6 w-6">
                    <span>Microsoft Store</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/epic-games/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Epic Games" class="h-6 w-6">
                    <span>Epic Games</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-play.svg" alt="Playstation" class="h-6 w-6">
              <span>Playstation</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down"
                   class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/playstation/ps4/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 4" class="h-6 w-6">
                    <span>Playstation 4</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/playstation/ps5/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 5" class="h-6 w-6">
                    <span>Playstation 5</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-xbx.svg" alt="Xbox" class="h-6 w-6">
              <span>Xbox</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down"
                   class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-one/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox ONE" class="h-6 w-6">
                    <span>Xbox ONE</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-series-x-s/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox Series X|S" class="h-6 w-6">
                    <span>Xbox Series X|S</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-swt.svg" alt="Nintendo" class="h-6 w-6">
              <span>Nintendo</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down"
                   class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/nintendo/switch/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-swt.svg" alt="Nintendo Switch" class="h-6 w-6">
                    <span>Nintendo Switch</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="relative group">
          <button class="bg-orange-500 p-3 rounded-full">
            <img src="./assets/logos/search.svg" alt="search" class="size-20">
          </button>
        </div>
      </div>

      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img (click)="redirectToCart()" src="./assets/logos/icon-cart.svg" alt="cart" class="size-20">
      </div>
      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img *ngIf="isLoggedIn" src="./assets/logos/avatar2.svg" alt="user" class="size-20" (click)="toggleDropdown()">
        <img *ngIf="!isLoggedIn" src="./assets/logos/icon-user.svg" alt="user" class="size-20"
             (click)="redirectToLogin()">
      </div>
      <div *ngIf="isLoggedIn && showDropdown" class="bg-zinc-700 p-4 rounded-lg absolute top-14 right-0 mt-1 z-10">
        <button class="block mb-2" (click)="redirectToAccount()">Account</button>
        <button class="block mb-2" (click)="redirectToWishlist()">Wishlist</button>
        <button class="block text-red-500 mb-2" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>
</div>


<div *ngIf="isLoading" class="text-center">Loading...</div>
<div *ngIf="error" class="bg-zinc-800 text-white min-h-screen">{{ error }}</div>
<div *ngIf="!isLoading && !error">
  <div class="bg-zinc-800 text-white min-h-screen">
    <div class="flex justify-between p-4">
      <div class="w-2/3 p-4">
        <h2 class="text-xl font-bold mb-4">Panier</h2>
        <div *ngFor="let game of cart" class="bg-zinc-700 p-4 rounded-lg mb-4">
          <div class="flex items-center justify-between">
            <img *ngIf="game.produitImage" [src]="game.produitImage" [alt]="game.produitName" class="img-fluid rounded-lg shadow-lg h-32 w-32 object-cover">
            <div>
              <h3 class="font-semibold">{{ game.produitName }}</h3>
              <p>{{ game.produitCategory }}</p>
            </div>
            <div>
              <span>{{ game.produitPrice }}</span>
            </div>
            <button (click)="deleteFromCart(userService.getUserId(), game.produitId)" class="text-blue-400 mt-2">Supprimer du panier</button>
          </div>
        </div>
      </div>

      <div class="w-1/3 bg-zinc-900 p-4 rounded-lg">
        <h2 class="text-xl font-bold mb-4 mt-52">Résumé</h2>

        <div class="mb-4">
          <div *ngFor="let game of cart" class="flex justify-between mb-2">
            <span>{{ game.produitName }}</span>
            <span>{{ game.produitPrice }} €</span>
          </div>
        </div>

        <div class="flex justify-between mb-2">
          <span>Total</span>
          <span>{{ calculateTotalCost(cart)}} €</span>
        </div>

        <button (click)="redirectToConfirmation()" class="bg-orange-500 text-white w-full py-2 rounded-lg mb-4">Vers le paiement</button>

        <div class="text-center mb-2">ou</div>

        <button (click)="redirectTohHome()" class="text-zinc-400 w-full">Continuer vos achats</button>
      </div>
    </div>
  </div>
</div>
