<body class="bg-black text-white">
<div class="px-4">
  <header class="flex justify-between items-center py-4">
    <div class="flex items-center">
      <img src="./assets/logos/logo-horizontal.svg" alt="Logo" class="mr-8 size-1/12" />
      <nav class="flex space-x-4">
        <a href="#" class="text-zinc-300 hover:text-white">Trending</a>
        <a href="#" class="text-zinc-300 hover:text-white">Pre-orders</a>
        <a href="#" class="text-zinc-300 hover:text-white">Upcoming</a>
        <a href="#" class="text-zinc-300 hover:text-white">Support 24/7</a>
      </nav>
    </div>
    <div class="flex space-x-4">
      <input type="search" placeholder="Search" class="bg-zinc-800 text-white p-2 rounded" />
      <button class="bg-red-600 p-2 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </button>
      #check plus tard pour le svg
      <div class="bg-zinc-800 rounded-full w-fit">
        <img src="./assets/logos/icon-cart.svg"  alt="cart" class="size-20">
      </div>
    </div>
  </header>

  <div class="relative mt-8">
    <img src="https://gaming-cdn.com/img/products/8253/hcover/1400x500/8253.jpg?v=1714401891" alt="Main Game Banner" class="w-full h-auto" />
    <div
      class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-5 flex items-center justify-between p-8"
    >
      <div>
        <h1 class="text-4xl font-bold">Manor Lords</h1>
        <p class="text-xl bg-red-600 inline-block px-3 py-1 rounded">-50%</p>
        <p class="text-3xl mt-2">20.17€</p>
      </div>
      <button class="text-lg bg-red-600 hover:bg-red-700 py-2 px-4 rounded">Buy Now</button>
    </div>
  </div>
</div>
</body>
