<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compte - Instant Gaming</title>
</head>
<div class="bg-black px-4">
  <header class="flex justify-between items-center py-4">
    <div class="flex items-center">
      <img (click)="redirectTohHome()" src="./assets/logos/logo-horizontal.svg" alt="Logo" class="mr-8 size-1/12"/>
      <div class="bg-black text-white p-4 flex items-center justify-between">
        <div class="flex items-center space-x-4 relative">
          <!-- PC Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-pc.svg" alt="PC" class="h-6 w-6">
              <span>PC</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/pc/steam/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Steam" class="h-6 w-6">
                    <span>Steam</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ubisoft-connect/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Ubisoft Connect" class="h-6 w-6">
                    <span>Ubisoft Connect</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/ea-app/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="EA App" class="h-6 w-6">
                    <span>EA App</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/battle-net/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Battle.net" class="h-6 w-6">
                    <span>Battle.net</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/rockstar/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Rockstar" class="h-6 w-6">
                    <span>Rockstar</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/gog-com/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="GOG.com" class="h-6 w-6">
                    <span>GOG.com</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/microsoft-store/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Microsoft Store" class="h-6 w-6">
                    <span>Microsoft Store</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/pc/epic-games/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-pc.svg" alt="Epic Games" class="h-6 w-6">
                    <span>Epic Games</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Playstation Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-play.svg" alt="Playstation" class="h-6 w-6">
              <span>Playstation</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/playstation/ps4/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 4" class="h-6 w-6">
                    <span>Playstation 4</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/playstation/ps5/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-play.svg" alt="Playstation 5" class="h-6 w-6">
                    <span>Playstation 5</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Xbox Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-xbx.svg" alt="Xbox" class="h-6 w-6">
              <span>Xbox</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-one/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox ONE" class="h-6 w-6">
                    <span>Xbox ONE</span>
                  </div>
                </a>
                <a href="https://www.instant-gaming.com/fr/xbox/xbox-series-x-s/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-xbx.svg" alt="Xbox Series X|S" class="h-6 w-6">
                    <span>Xbox Series X|S</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Nintendo Section -->
          <div class="relative group">
            <button class="bg-zinc-800 px-3 py-2 rounded text-sm flex items-center space-x-1 focus:outline-none">
              <img src="./assets/logos/icon-swt.svg" alt="Nintendo" class="h-6 w-6">
              <span>Nintendo</span>
              <img src="./assets/logos/icon-arrow.svg" alt="Arrow Down" class="h-4 w-4 ml-2 opacity-40 transform rotate-90">
            </button>
            <div class="absolute hidden bg-zinc-800 text-white p-2 rounded mt-2 group-hover:block">
              <div class="container platforms">
                <a href="https://www.instant-gaming.com/fr/nintendo/switch/">
                  <div class="flex items-center space-x-2">
                    <img src="./assets/logos/icon-swt.svg" alt="Nintendo Switch" class="h-6 w-6">
                    <span>Nintendo Switch</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="relative group">
          <button class="bg-orange-500 p-3 rounded-full">
            <img src="./assets/logos/search.svg" alt="search" class="size-20">
          </button>
        </div>
      </div>

      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img src="./assets/logos/icon-cart.svg" alt="cart" class="size-20">
      </div>
      <div class="bg-zinc-800 rounded-full w-fit ml-4">
        <img *ngIf="isLoggedIn" src="./assets/logos/avatar2.svg" alt="user" class="size-20" (click)="toggleDropdown()">
        <img *ngIf="!isLoggedIn" src="./assets/logos/icon-user.svg" alt="user" class="size-20"
             (click)="redirectToLogin()">
      </div>
      <div *ngIf="isLoggedIn && showDropdown" class="bg-zinc-700 p-4 rounded-lg absolute top-14 right-0 mt-1 z-10">
        <button class="block mb-2" (click)="redirectToAccount()">Account</button>
        <button class="block mb-2">My Orders</button>
        <button class="block mb-2" (click)="redirectToWishlist()">Wishlist</button>
        <button class="block text-red-500 mb-2" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>
</div>
<body class="bg-gray-100 font-sans">
<div class="container mx-auto py-8">
  <div class="max-w-md mx-auto bg-white shadow-md rounded px-8 py-6">
    <div *ngIf="userService.isLoggedIn; else notLoggedIn">
      <h2 class="text-xl font-semibold mb-4">Détails de l'utilisateur</h2>
      <p><span class="font-semibold">Nom:</span> {{ user?.name }}</p>
      <p><span class="font-semibold">Prénom:</span> {{ user?.lastName}}</p>
      <p><span class="font-semibold">Email:</span> {{ user?.email }}</p>
      <p><span class="font-semibold">Adresse:</span> {{ user?.address }}</p>
      <p><span class="font-semibold">Date de naissance:</span> {{ user?.birth }}</p>

      <!-- Bouton pour mettre à jour les détails de l'utilisateur -->
      <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mt-2" (click)="updateClient()">Mettre à jour les détails de l'utilisateur</button>

      <!-- Bouton pour supprimer l'utilisateur -->
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2" (click)="deleteClient()">Supprimer l'utilisateur</button>
    </div>
    <ng-template #notLoggedIn>
      <p class="text-red-500">Vous devez être connecté pour accéder à cette page.</p>
      <a href="/login" class="text-blue-500">Se connecter</a>
    </ng-template>
  </div>
</div>
</body>

</html>

